:root {
    --azul-marinho: #0b5ebf;
    --amarelo: #fdc842;
    --verde: #32bb4e;
    --vermelho: #ff0000;
    --branco: #ffffff;
    --cinza-claro: #f4f4f4;
    --cinza-escuro: #2e3d45;
    --preto: #1b1b1b;
  }
  body,
  h1,
  h2,
  h3,
  h4 {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .redirect-principal {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .img-column {
    background-image: url("../images/MEGASONHO-8-invitation.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
    background-attachment: fixed;
    width: 50%;
    height: 100vh;
    max-height: 100%;
  }
  .redirect-column {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .redirect-column img {
    width: 352.17px;
    height: 49.73px;
  }
  .redirect-column2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 80px;
  }
  .headercolumn2 {
    display: flex;
    justify-content: end;
    height: 120px;
    align-items: center;
  }
  .headercolumn2 > img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .redirectheader {
    height: 143px;
    width: 448px;
    border-bottom: 1px solid #000000 0.1;
    margin-bottom: 25px;
  }
  .redirectheader h1 {
    margin-bottom: 16px;
    width: 448px;
    height: 55px;
    font-family: "Hind";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: var(--cinza-escuro);
  }
  .redirectheader h3 {
    width: 448px;
    height: 72px;
    font-family: "Hind";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
    color: var(--cinza-escuro);
  }
  .bankingTransfer {
    width: 273px;
    height: 53px;
    margin-bottom: 21px;
  }
  
  .redirectAnimation h3 {
    margin-top: -60px;
    margin-left: 30px;
    position: absolute;
    width: 408px;
    height: 50px;
    font-family: "Hind";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: var(--cinza-escuro);
    opacity: 0.8;
  }
  .redirectAnimation lottie-player {
    margin-left: -30px;
  }
  .bar-end {
    width: 100vw;
    margin-top: -8px;
    height: 8px;
    background: linear-gradient(
      88.31deg,
      #1374de -6.73%,
      #33a3fd 51.52%,
      #d9d9d9 98.57%
    );
  }