{% extends 'bases/base_dashboard.html' %}

{% load static %}

{% block content %}

<header class="header">
  <nav class="headermenu">
    <img
      class="logo"
      src="{% static 'images/MEGASONHO-Logo-form.svg' %}"
      alt="Logo MEGASONHO"
    />
    <ul>
      <a href=""><li>Extrato</li></a>
      <a href=""><li>Cartão</li></a>
      <a href=""><li>Pagamento</li></a>
    </ul>
    <a href="{% url 'megasonho:bonus' %}"><button class="btnBonus">🎉 Aproveitar Bônus</button></a>
    <div class="iconprofile">T</div>
  </nav>
</header>
<article class="headerContent">
  <div>
    <h3>É um prazer ter você com a gente</h3>
    <h1>Tiago Bispo</h1>
    <img src="{% static 'images/arrowBlue.svg' %}" alt="" class="arrowBlue" />
  </div>
  <div>
    <button type="submit" class="btnWallet">
      <img src="{% static 'images/Wallet.svg' %}" />Adicionar novo banco
    </button>
  </div>
</article>
<div class="balanceContent">
  <div class="walletContent">
    <div class="Wallet">
      <span>Saldo total</span>
      <h1>R$ 990,90</h1>
      <img src="{% static 'images/iconVisibility.svg' %}" alt="" />
    </div>
    <div class="walletNumbers">
      <span>Números da Sorte</span>
      <h1>20 Números</h1>
    </div>
  </div>
</div>
<div class="extract">
  <div class="extractContent">
    <div class="extratBancking">
      <img src="{% static 'images/btg_color.svg' %}" alt="" class="btg" />
      <img src="{% static 'images/itau_color.svg' %}"" alt="" class="itau" />
    </div>
    <div class="lineControl">
      <div class="line"></div>
      <div class="lineTranspose"></div>
    </div>
    <div class="extractNow">
      <div class="extractbalance">
        <span>Saldo disponivel</span>
        <h1>R$ 99,90</h1>
        <img src="{% static 'images/IconVisibilityoff.svg'%}" alt="" />
      </div>
      <div class="extractNumbers">
        <span>Números da Sorte</span>
        <h1>10 Números</h1>
      </div>
    </div>
    <div class="historic">
      
      <h3>Extrato</h3>
      <div class="historicExtrat">
        <img src="{% static 'images/transferSender.svg'%}" alt="" />
        <div class="extractday"><span>Pix</span><span>Hoje</span></div>
        <div class="extractdaycontent">
          <h3>Transferência Enviada</h3>
          <h4>R$ 14,90</h4>
        </div>
      </div>
      <div class="historicExtrat">
        <img src="{% static 'images/transferReceive.svg'%}" alt="" />
        <div class="extractday"><span>Pix</span><span>Ontem</span></div>
        <div class="extractdaycontent">
          <h3>Transferência Recebida</h3>
          <h4>R$ 94,00</h4>
        </div>
      </div>
      <div class="historicExtrat">
        <img src="{% static 'images/transferSender.svg'%}" alt="" />
        <div class="extractday"><span>Pix</span><span>21 / Set</span></div>
        <div class="extractdaycontent">
          <h3>Transferência Enviada</h3>
          <h4>R$ 5,00</h4>
        </div>
      </div>
      <div class="historicExtrat">
        <img src="{% static 'images/transferSender.svg'%}" alt="" />
        <div class="extractday"><span>Pix</span><span>18 / Set</span></div>
        <div class="extractdaycontent">
          <h3>Transferência Enviada</h3>
          <h4>R$ 104,00</h4>
        </div>
      </div>
    </div>
    <div class="talkMore">
      <lottie-player
        class="animation"
        src="https://assets6.lottiefiles.com/packages/lf20_SCdC0F.json"
        background="transparent"
        speed="1"
        
        autoplay
      ></lottie-player>
      <div class="pop-up">
        <h2>
          
          <img src="{% static 'images/iconMegaBlue.svg' %}" class="logoBlue" alt="" />Lorem
          Ipsum
          <img src="{% static 'images/Close.svg'%}" alt="" class="close" />
        </h2>
        <span
          >Aqui será uma descrição para falar um pouco sobre o investimento e
          benefíicios da MEGASONHO.</span
        >
        <form action="bonus.html">
          <button class="btnPopup">Invista e Concorra</button>
        </form>
      </div>
      <img
        src="{% static 'images/MickeyConfirm.svg'%}"
        alt="mickey-talk"
        class="mickeytalk"
      />
    </div>
  </div>

    </div>
  </div>
</div>

{% endblock %}
