{% extends 'bases/base_data_confirm.html' %} {% load static %}{% block content%}
<div class="newShare-principal">
  <div class="img-column">
    <div class="newShare-column">
      <img src="{% static 'images/MEGASONHO-Logo-form.svg'%}" alt="" />
    </div>
  </div>
  <div class="newShare-column2">
    <div class="headercolumn2">
      <a href="./invest.html"
        ><img src="{% static 'images/MEGASONHO-close.svg' %}" alt=""
      /></a>
    </div>
    <div class="shareheader">
      <h1>Novo Compartilhamento</h1>
      <h3>Verifique seus dados para o envio do seu Cartão</h3>
    </div>
    <div class="contentBanking">
      <h3>Nome Completo:</h3>
      <input type="text" value="Mickey Mouse" />
      <h3>CPF:</h3>
      <input type="text" value="{{user.document}}" />

      <h3>Telefone:</h3>
      <input type="text" value="{{user.phone}}" />

      <h3>Email:</h3>
      <input type="text" value="{{user.email}}" />

      <h3>Endereço:</h3>
      <input type="text" value="{{user.address}}" />

      <h3>Estado</h3>
      <input type="text" value="{{user.state}}" />

      <h3>Cidade</h3>
      <input type="text" value="São Paulo" />

      <a>Ver mais detalhes<img src="{% static 'images/Seta-cinza.svg' %}" /></a>
      <div class="allert">
        <img src="{% static 'images/allert.svg' %}" alt="" />
        <label
          >Ao compartilhar seus dados com o BTG, você também compartilha com as
          outras instituições do BTG Pactual e parceiros.</label
        >
      </div>
    </div>
    <div class="baseboard">
      <form action="sendConfirm.html" method="post">
        <input type="checkbox" />
        <span>Aceito os <span class="terms">Termos e Condições</span></span>
        
      </form>
      <a href="{% url 'megasonho:confirm' %}"><button type="submit" class="btnContinue">Continuar</button></a>
    </div>
  </div>
</div>
<div class="bar-end"></div>

{% endblock %}
